.daa{
    background: url(https://static.vitra.com/media-resized/oxmbjtqQkekbbVc6mUuCpFV8I3EeBKFt8-4dtxEgumI/fill/1440/0/ce/0/aHR0cHM6Ly9zdGF0aWMudml0cmEuY29tL21lZGlhL2Fzc2V0LzI5NTE0MTMvc3RvcmFnZS92X2Z1bGxibGVlZF8xNDQweC80MTQ5MjI2MC5qcGc.jpg);
    height: 500px;
    width: 1500px;
    text-align: center;
    padding-top: 13%;
}